{% extends 'app_faturas/base.html' %}
{% block content %}
{% load static %}
<div class="pagina-inicial-container">
  
  <h1>Faturas do cartão!</h1>
  <p class="subtitulo">Gerencie suas faturas de forma simples e eficiente.</p>

  <div class="destaque">
    <!--img src="{% static 'app_faturas/imagens/fatura-icon.jpg' %}" alt="Ícone de Fatura"-->
    <p>Veja suas compras, controle seus gastos e mantenha suas finanças em dia.</p>
  </div>

  <div class="funcionalidades">
    <h2>Principais Funcionalidades</h2>
    <ul>
      <li>Cadastre suas compras e divida em parcelas</li>
      <li>Acompanhe suas faturas mês a mês</li>
    </ul>
  </div>
</div>
{% endblock %}
