{% extends 'app_faturas/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
  <!-- Adiciona botões para alternar entre meses e anos -->
  <form  method="POST" action="{% url 'visualizar_faturas' %}">
    {% csrf_token %}
    <label for="select_mes">Selecione o Mês:</label>
    <select name="mes" id="select_mes">
      {% for m in meses %}
          <option value="{{ m.numero|add:0 }}" {% if m.numero == selected_mes %}selected="selected"{% endif %}>
              {{ m.nome }}
          </option>
      {% endfor %}
    </select>
    <label for="select_ano">Selecione o Ano:</label>
    <select name="ano" id="select_ano">
        {% for a in anos %}
            <option value="{{ a.year }}" {% if a.year == selected_ano %}selected{% endif %}>{{ a.year }}</option>
        {% endfor %}
    </select>

    <input class="custom-button" type="submit" value="Atualizar">
</form>

<h2>Visualizar Faturas - {{ selected_mes }}/{{ selected_ano }}</h2>
<p>Total gasto este mês: R$ {{ total_gasto|default:"0.00" }}</p>

<ul>
    {% for compra in compras %}
        <li>
            {{ compra.nome }} - R$ {{ compra.valor }} - {{ compra.parcelas }} parcelas
            {% if selected_mes|add:0 == compra.mes|add:0|stringformat:"d" %}
            {% endif %}
        </li>
    {% empty %}
        <li>
            Nenhuma compra feita neste mês
        </li>
    {% endfor %}
</ul>


{% endblock %}
